

  h2 {
    color: #043b5c;
    font-size: 1.8em;
  }

  .personal-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
  }

  .personal-info h3 {
    color: #043b5c;
    margin-bottom: 20px;
  }

  .personal-info ul {
    list-style: none;
    padding: 0;
  }

  .personal-info li {
    margin: 10px 0;
    font-size: 1.1em;
  }

  .personal-info strong {
    font-weight: bold;
  }

  .personal-info-table {
    width: 100%;
    border-collapse: collapse;
  }

  .personal-info-table td {
    padding: 10px;
    border: 1px solid #ddd; /* Gray border */
  }

  .personal-info-table td:first-child {
    font-weight: bold;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .info-box {
    
    display: flex;
    align-items: center;
    background-color: #f0f4f8;
    border-radius: 10px;
    width: 102%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .info-box:active {
    transform: scale(0.98); /* تصغير العنصر قليلاً عند الضغط */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* تقليل الظل عند الضغط */
  }

  .info-box:hover {
    transform: translateY(-5px); /* رفع العنصر عند المرور بالماوس */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* زيادة الظل عند التمرير */
  }

  .info-image img {
    max-width: 50px;
    margin-right: 20px;
  }

  .info-text h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #043B5C;
  }

  .info-text p {
    margin-top: 5px;
    color: #555;
  }

