<div class="sidebar">
  <div class="profile">
    <h3 style="color: white;font-weight: 400;" class="profile-name">Andrew Smith</h3>
  </div>
    <div>
      <p class="profile-role">Instructor</p>

    </div>
  <hr class="separator" />
  <p claa="main-text" >Main</p>
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="/InstructorDashBoard">
        <i class="material-icons">home</i> Home
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/create-course">
        <i class="material-icons">my_library_add</i> Create Course
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/create-assignment">
        <i class="material-icons">assignment</i> Create Assignment
      </a>
    </li>
    <li class="nav-item dropdown">
      <a href="javascript:void(0)" (click)="toggleDropdown()">
        <a routerLink="/Courses" >
        <i class="material-icons">folder</i> My Courses
      </a>
        <i class="material-icons arrow-icon" [ngClass]="{'rotate': isDropdownOpen}">keyboard_arrow_down</i>
      </a>
      <ul class="nav-submenu" *ngIf="isDropdownOpen">
        <li class="nav-subitem"><a routerLink="/course1">Course 1</a></li>
        <li class="nav-subitem"><a routerLink="/course2">Course 2</a></li>
        <li class="nav-subitem"><a routerLink="/course3">Course 3</a></li>
      </ul>
    </li>



    <li class="nav-item">
      <a routerLink="/assignments">
        <i class="material-icons">list</i> Assignments
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/grades">
        <i class="material-icons">grading</i> Grades
      </a>
    </li>
  </ul>
  <hr class="separator" />
  <div class="settings">
    <a routerLink="/settings" class="setting">
      <i class="material-icons">settings</i> Settings
    </a>
    <a routerLink="/help" class="help">
      <i class="material-icons">help_outline</i> Help
    </a>
    <a routerLink="/logout" class="logout">
      <i class="material-icons">logout</i> Logout Account
    </a>
  </div>
</div>
