<div class="my-Assignments-container">
  <div class="header">
    <h1 style="color: #0F266C; font-weight: 500;">Select Assignments</h1>
    <div class="nav-item">
      <a class="btn btn-outline-success p-1" routerLink="/create-assignments" >
        <!-- Replace with your desired route -->
          Create
          <i class="material-icons create-icon p-1">add_circle_outline</i>
      </a>
    </div>
  </div>
  <p>Organize your work and improve your performance with us</p>

  <div class="assignments-container">
    <div class="assignments-card" *ngFor="let assignments of Assignments">
      <div class="assignments-image">
        <img src="{{assignments.image}}" alt="course " />
      </div>
      <div class="assignments-info">
        <h3>{{ assignments.title }}</h3>
        <p>{{ assignments.description }}</p>
      </div>
      <div class="view-btn-container">
        <button (click)="navigateToCourse(assignments)" class="view-btn">
          View
        </button>
      </div>
    </div>
  </div>
</div>
