<div class="create-course-container">
    <div class="header">
      <h1 style="color: #0f266c; font-weight: 500">Create Assignment</h1>
      <p>Organize your work and improve your performance with us there</p>
    </div>
    <div class="form-container">
      <h3 style="color: #0f266c; font-weight: 800">New Assignment</h3>
      <div class="sections">
        <div class="left-section">
          <div class="input-container">
            <label for="course-name" class="floating-label">Assignment Name</label>
            <input type="text" id="course-name" placeholder="Enter Assignment name" />
          </div>
          <div class="input-container">
            <label for="description" class="floating-label">DeadLine</label>
            <input  type="Data" id="description" placeholder="Enter deadline" />
          </div>
          <div class="input-container">
            <label for="theoretical" class="floating-label">Courses</label>
            <input type="text" id="theoretical" placeholder="Enter theoretical criteria" />
          </div>
        </div>
        <div class="right-section">
            <div class="course-image">
                <img src="../../../../assets/assigment.webp" alt="Course Image" />
            </div>
        </div>
        
      </div>
      <button class="create-btn">Create</button> 
    </div>
  </div>
  