<div class="signup-container">
    <!-- Logo and Heading -->
    <div class="form-box">
    <img src="Front End\LMS\src\assets\logolms.jpg" alt="Logo" class="logo" />
    <h2>Create Your Account</h2>
  
    <!-- Signup Form -->
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            id="firstName"
            class="input-field"
            formControlName="firstName"
            placeholder="Enter your first name"
            required
          >
         <div class="error" *ngIf="hasDisplayableError('firstName') && signupForm.controls['firstName'].hasError('required')">First name is required</div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            id="lastName"
            class="input-field"
            formControlName="lastName"
            placeholder="Enter your last name"
            required
          />
          <div class="error" *ngIf="hasDisplayableError('lastName') && signupForm.controls['lastName'].hasError('required')">Last name is required</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            class="input-field"
            formControlName="username"
            placeholder="Enter your SchoolID"
            required
          />
          <div class="error" *ngIf="hasDisplayableError('username') && signupForm.controls['username'].hasError('required')">Username is required</div>
  
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            class="input-field"
            formControlName="email"
            placeholder="Enter your email"
            required
          >
          <div class="error" *ngIf="hasDisplayableError('email')">
            <div *ngIf="signupForm.controls['email'].hasError('required')"> 
              Email is required.
            </div>
            <div *ngIf="signupForm.controls['email'].hasError('pattern')"> 
              Please enter a validate Email address .
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="input-field"
            formControlName="password"
            placeholder="Enter your password"
            required
          />
          <div class="error" *ngIf="hasDisplayableError('password')">
            <ng-container [ngSwitch]="signupForm.controls['password'].errors | firstKey">
              <div *ngSwitchCase="'required'"> 
                password is required.
              </div>
              <div *ngSwitchCase="'minlength'"> 
                Atleast 6 characters required.
              </div>
              <div *ngSwitchCase="'pattern'"> 
                One or more special character(s) required.
              </div>
            </ng-container>
  
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Password Confirmation</label>
          <input
            type="password"
            id="confirmPassword"
            class="input-field"
            formControlName="confirmPassword"
            placeholder="Confirm your password"
            required
          />
          <div class="error" *ngIf="hasDisplayableError('confirmPassword') && signupForm.controls['confirmPassword'].hasError('passwordmissmatch')">
            Password doesn't match.
          </div>
        </div>
      </div>
  
      <div class="form-group custom-dropdown">
        <select class="form-control" formControlName="role" required>
          <option value="" disabled selected>Role</option>
          <option value="Student">Student</option>
          <option value="Instructor">Instructor</option>
        </select>
        <div class="error" *ngIf="hasDisplayableError('role') && signupForm.controls['role'].hasError('required')">
          Role is required.
        </div>
      </div>
      
      <button type="submit" class="btn-submit">Register</button>
    </form>
  
    <!-- Sign-in Link -->
    <p>
      Already have an account?
      <a [routerLink]="'/signin'">Sign in</a>
    </p>
  </div>
  </div>
  