<div class="course-container">
  <h1 class="course-title">{{ courseDetails.courseName }}</h1>
  <p class="course-subtitle">{{ courseDetails.courseDescription }}</p>

  <div class="course-content-container">
    <div class="course-info-box">
      <h3>In this course, you will learn how to:</h3>
      <p>
        {{ courseDetails.courseDescription }}
      </p>
    </div>

    <div class="course-progress-box">
      <h3>Progress:</h3>
      <div class="progress-container">
        <div class="progress-bar">
          <div class="progress-bar-fill" [style.width]="progress + '%'"></div>
        </div>
        <span class="progress-percentage">75%</span>
      </div>
    </div>
  </div>

  <!-- Material and Grades Section -->
  <div class="materials-grades-section">
      <div class="materials-box">
          <h3>Material</h3>
          
            <!-- Material Selection -->
            <div class="select-container">
              <label for="material-select" class="select-label">Select a Material:</label>
              <select id="material-select" [(ngModel)]="selectedLecture">
                <option value="" disabled selected>Select a Material</option>
                <option *ngFor="let material of courseDetails.courseMaterials" [ngValue]="material">
                  {{ material.materialName }}
                </option>
              </select>
              <div class="button-container">
                <button *ngIf="selectedLecture" (click)="openMaterial(selectedLecture)" class="open-btn">
                  Open PDF
                </button>
              </div>
            </div>
          </div>
          

<!-- Grades Section -->
<div class="grades-box">
  <h3>Grades</h3>
  <div *ngIf="courseDetails.assessmentCriteria; else noGrades">
    <div class="grades-grid">
      <div class="grade-item">Theoretical: <span>{{ courseDetails.assessmentCriteria.theoretical }}</span></div>
      <div class="grade-item">Practical: <span>{{ courseDetails.assessmentCriteria.practical }}</span></div>
      <div class="grade-item">Yearwork: <span>{{ courseDetails.assessmentCriteria.yearwork }}</span></div>
      <div class="grade-item">Midterm: <span>{{ courseDetails.assessmentCriteria.midterm }}</span></div>
      <div class="grade-item">Quizzes: <span>{{ courseDetails.assessmentCriteria.quizzes }}</span></div>
    </div>
  </div>
  <ng-template #noGrades>
    <p>No grades available for this course.</p>
  </ng-template>
    </div>
  </div>




</div>
