<div class="create-course-container">
  <div class="header">
    <h1 style="color: #0f266c; font-weight: 500">Create Course</h1>
    <p>Organize your work and improve your performance with us there</p>
  </div>
  <div class="form-container">
    <h3 style="color: #0f266c; font-weight: 800">New Course</h3>
    <div class="sections">
      <div class="left-section">
        <div class="input-container">
          <label for="course-name" class="floating-label">Course Name</label>
          <input type="text" id="course-name" placeholder="Enter course name" />
        </div>
        <div class="input-container">
          <label for="description" class="floating-label">Description</label>
          <input style="height: 150px;" type="text" id="description" placeholder="Enter course description" />
        </div>
        <div class="course-image">
          <img src="../../../../assets/books.png.jpg" alt="Course Image" />
        </div>
      </div>
      <div class="right-section">
        <h3 style="color: #043b5c; font-weight: 400">Assessment Criteria</h3>
        <div class="criteria">
          <div class="input-container">
            <label for="theoretical" class="floating-label">Theoretical</label>
            <input type="text" id="theoretical" placeholder="Enter theoretical criteria" />
          </div>
          <div class="input-container">
            <label for="practical" class="floating-label">Practical</label>
            <input type="text" id="practical" placeholder="Enter practical criteria" />
          </div>
          <div class="input-container">
            <label for="yearwork" class="floating-label">Yearwork</label>
            <input type="text" id="yearwork" placeholder="Enter yearwork criteria" />
          </div>
          <div class="input-container">
            <label for="midterm" class="floating-label">Midterm</label>
            <input type="text" id="midterm" placeholder="Enter midterm criteria" />
          </div>
          <div class="input-container">
            <label for="quizzes" class="floating-label">Quizzes</label>
            <input type="text" id="quizzes" placeholder="Enter quizzes criteria" />
          </div>
          <button class="create-btn">Create</button> 
        </div>
      </div>
    </div>
  </div>
</div>
