<div class="grades-container">
  <div class="header">
    <h1 style="color: #0f266c; font-weight: 500">Create Assignment</h1>
    <p>Organize your work and improve your performance with us there</p>
  </div>
  <div class="tabel-container">

    <table class="grades-table">
      <thead>
        <tr>
          <th>Student</th>
          <th>Grade</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; let i = index">
          <td>{{ student.name }}</td>
          <td>
            <ng-container *ngIf="editingIndex !== i; else editTemplate">
              {{ student.grade }}
            </ng-container>
            <ng-template #editTemplate>
              <input
              type="number"
              [(ngModel)]="students[i].grade"
              class="grade-input"
              />
            </ng-template>
          </td>
          <td>
            <a *ngIf="editingIndex !== i" (click)="editGrade(i)">
              ✏️
            </a>
            <a *ngIf="editingIndex === i" (click)="saveGrade(i)">
              ✔️
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="assignment-details">
      <img src="assets/assignment-icon.png" alt="Assignment Icon" />
      <p><b>Assignment 1:</b> Angular Course<br />Deadline: 27th OCT.</p>
      <a href="Assignment1.pdf" download>Download Assignment</a>
    </div>
  </div>
</div>
