.grades-container {
  padding-top: 20px;

  background-color: #eef4ff;

}
.header {
  align-items: center;
  margin-bottom: 20px;
  margin-left: 0px;
  position: relative;
  right: 100px;
}
.header h1 {
  margin: 0px;
}
.header p {
  color: #757575;
  margin-bottom: 20px;
 margin-top: 10px;
}
.tabel-container{
  background-color: white;
  width: 797px;
  height: 552;
  border-radius: 20px;
  margin-left:100px ;
  margin-top: 38px;
  margin-right: 50px;
  padding-bottom: 40px;
}
.grades-table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
}

.grades-table th,
.grades-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.grades-table th {
  background-color: #4caf50;
  color: white;
}

.grade-input {
  width: 60px;
}

.assignment-details {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.assignment-details img {
  width: 50px;
}

.assignment-details a {
  text-decoration: none;
  color: #007bff;
}
