.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;  /* لضمان تغطيته لكامل الشاشة */
  width: 250px;
  background-color: #043B5C;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  z-index: 1000;
  color: #ecf0f1;
  box-sizing: border-box;
}

.admin-info {
  text-align: center;
  padding-bottom: 15px;
  color: #FFFEFE;
  margin-left: 20px;
}

.admin-info h1 {
  margin: 0;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
  margin-right: 85px;
}

.profile-role {
  color: #B9BBBD;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-align: left;
}

.divider {
  height: 2px;
  background-color: #FFFFFF;
  width: 90%;
  margin: 0 auto;
}

/* قائمة الروابط في الـ sidebar */
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;  /* لإعطاء المساحة لبقية العناصر */
}

.navbar ul li {
  text-align: center;
  margin-bottom: 15px; /* تقليل المسافة بين العناصر */
}

.navbar ul li a {
  margin-top: 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFEFE;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
}

.navbar ul li a .material-icons {
  margin-right: 15px;
  font-size: 1.5rem;
}

.navbar ul li a:hover {
  background-color: #fff;
  color: #043B5C;
}

/* قسم help-logout */
.help-logout {
  margin-top: auto;
}

.help-logout ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.help-logout ul li {
  text-align: center;
}

.help-logout ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
}

.help-logout ul li a .material-icons {
  margin-right: 8px;
  font-size: 20px;
}

#first {
  color: gray;
}

#last {
  color: #D55F5A;
}

.help-logout ul li a:hover {
  background-color: #fff;
  opacity: 0.7;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 10%;
  transition: margin-left 0.3s ease-in-out;
}

